[submodule "swagger"]
	path = src/model/contract/swagger
	url = git@github.com:allan-rcos/tachyon-swagger.git
	branch = flatbuffers-openapi
[submodule "packages/vike-txiki-adapter"]
	path = packages/vike-txiki-adapter
	url = git@github.com:allan-rcos/vike-txiki-adapter.git
	branch = main
[submodule "packages/tachyon-design"]
	path = packages/tachyon-design
	url = git@github.com:allan-rcos/tachyon-design.git
	branch = main
[submodule "packages/vike-lit"]
	path = packages/vike-lit
	url = git@github.com:allan-rcos/vike-lit.git
	branch = main
